<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Favorite Books</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

<div class="container mt-3">
    <h2>My Favorite Books</h2>

    <table class="table table-bordered table-hover">
        <thead class="table-dark">
        <tr>
            <th>Title</th>
            <th>Author</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="fav : ${favorites}">
            <td th:text="${fav.book.title}"></td>
            <td th:text="${fav.book.author}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
