<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

<!-- Вставка шапки сайта (header) -->
<div th:replace="~{header :: header}"></div>

<br/><br/>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">

            <!-- Сообщение об ошибке или выходе -->
            <div th:if="${param.error}">
                <div class="alert alert-danger">Неверный Email или пароль</div>
            </div>
            <div th:if="${param.logout}">
                <div class="alert alert-success">Вы вышли из системы.</div>
            </div>

            <!-- Карточка формы входа -->
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">Вход</h2>
                </div>
                <div class="card-body">

                    <form method="post" role="form" th:action="@{/login}" class="form-horizontal">

                        <div class="form-group mb-3">
                            <label class="control-label">Email</label>
                            <input type="text" id="username" name="username" class="form-control"
                                   placeholder="Введите email"/>
                        </div>

                        <div class="form-group mb-3">
                            <label class="control-label">Пароль</label>
                            <input type="password" id="password" name="password" class="form-control"
                                   placeholder="Введите пароль"/>
                        </div>

                        <div class="form-group mb-3">
                            <button type="submit" class="btn btn-primary">Войти</button>
                            <span> Нет аккаунта?
                                <a th:href="@{/register}">Зарегистрируйтесь</a>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>